<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/action_page.php" method="post">
        <label for="url">Url:</label>
        <input class="url" type="text" id="url" name="url"><br><br>
        <label for="title">title:</label>
        <input class="title" type="text" id="title" name="title"><br><br>
        <label for="price">price:</label>
        <input class="price" type="text" id="price" name="price"><br><br>
        <label for="description">description:</label>
        <input class="description" type="text" id="description" name="description"><br><br>
        <label for="city">city:</label>
        <input class="city" type="text" id="city" name="city"><br><br>
        <input class="button" type="submit" value="Submit">
      </form> 
</body>
</html>